*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    height: 200vh;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    font-size: 25px;
    color: white;
    background-color: #000;
}
.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    height: calc(100vh - 100px);
}
.phrase p{
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 800px;
    height: 300px;
    color: white;
    font-size: 26px;
}
figure img{
    width: 400px;
    height: 400px;
}
.skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #222;
    color: white;
    font-size: 25px;
}