:root{
    --text-color: #2C3E50;
    --background-color: #ECF0F1;
    --foreground-color: #ECF0F1;
}
*{
    margin: 0;
    padding: 0;
}
.mobile{
    display: none !important;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
}
.modal-content {
    background: white;
    padding: 75px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.modal h1 {
    color: #333;
}
.modal button {
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}
.modal .href{
    background-color: #007bff;
}
.modal .href:hover {
    background-color: #0056b3;
}
.modal .close-btn {
    background-color: #6c757d;
}
.modal .close-btn:hover {
    background-color: #5a6268;
}
.warning{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #e5f3fd;
    border: 1px solid #aecce4;
    border-radius: 8px;
    text-align: center;
}
a{
    text-decoration: none !important;
    color: var(--text-color);
    padding: 5px;
}
a.can-hover:hover{
    background-color: var(--text-color);
    color: var(--foreground-color);
    border-radius: 5px;
    animation-name: fade;
    animation-duration: 0.30s;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
}
/* Inicio do estilo da Navbar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    font-size: 22px;
    color: var(--text-color);
    background-color: var(--foreground-color);
    box-shadow: black 0px -40px 60px 10px;
    z-index: 2;
}
footer{
    background-color: var(--foreground-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 25px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -5px 15px;
}
.link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.flow{
    min-width: 400px;
}
.social{
    justify-self: center;
}
.social img{
    width: 40px;
}
.easteregg-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: none;
}
.show{
    display: block !important;
}
/* Fim do estilo da Navbar */

.home{
    display: flex;
    width: 50vw;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    background-color: var(--background-color);
}
.home-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
    border-radius: 25px;
    
}
.home-text .small{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.home-text .big{
    font-size: 90px;
}
.sobre{
    height: 400px;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    gap: 50px;
}
.sobre-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
    padding: 5px;
}
.sobre-pic::after{
    content: "";
    width: 150%;
    height: 150%;
    position: absolute;
    background-image: conic-gradient(transparent, transparent, transparent, #2C3E50);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.sobre-pic::before{
    content: "";
    width: 150%;
    height: 150%;
    position: absolute;
    background-image: conic-gradient(transparent, transparent, transparent, #ECF0F1);
    animation: animate 4s linear infinite;
}
.sobre-pic img{
    position: absolute;
    border-radius: 25px;
    background-color: black;
    z-index: 1;
    width: 96%;
    height: 96%;
    object-fit: cover;
}
@keyframes animate 
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.sobre-text{
    font-size: 25px;
    color: var(--text-color);
    background-color: var(--foreground-color);
    padding: 60px;
    border-radius: 15px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
}
.sobre-text h1{
    font-size: 32px;
}
.skills-main-page   {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: var(--foreground-color);
    color: var(--text-color);
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;

}
.projetos{
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: var(--text-color);
    margin: auto auto;
}
.projeto{
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
    padding: 25px;
    border-radius: 15px;
}
.projeto-img{
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
}
.projetos-h1{
    color: var(--text-color);
    margin: 45px auto;
    font-size: 45px;
}
.projeto-img:hover{
    opacity: 0.4;  
    animation-direction: reverse;
    animation-name: fade;
    animation-duration: 0.30s;
}
.skill-logo{
    width: 75px;
}

/* Inicio do estilo da pagina de detalhes do projeto */
.capa-projeto{
    width: 100%;
    height: 25vh;
    object-fit: cover;
    box-shadow: black 0px 10px 30px 1px;
    border-bottom: 2px solid black;
    filter: blur(5px);
    filter: brightness(30%);
}
.logo-titulo{
    display: flex;
    width: auto;
    align-items: center;
    font-size: 52px;
    color: var(--text-color);
    font-weight: bold;
    margin-left: 15vw;
    margin-top: 3vw;
    z-index: 2;
}
.logo-titulo p{
    width: auto;
    margin-left: 10px;
    align-self: center;
    text-align: center;
}
.github-link{
    justify-self: flex-end;
}
.button-gen{
    background: var(--foreground-color);
    width: 120px;
    height: 50px;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
.button-gen:hover{
    background: var(--text-color);
    color: var(--foreground-color);
}
.logo-projeto{
    border-radius: 50%;
    object-fit: fill;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;

}
.descricao-container{
    height: 50vh;
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
}
.descricao-container p{
    max-width: 40vw;
    font-size: 22px;
    margin-bottom: 25px;
}
.skills-projeto{
    width: 15vw;
    height: auto;
    background-color: var(--foreground-color);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;

}
.skill{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 20px;
}
.skills-projeto h1{
    align-self: center;
    margin-bottom: 25px;
}
.skill img{
    width: 50px;
    margin-right: 10px;
}
.screenshot-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-bottom: 25px;
}
.screenshot-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-screenshot{
    padding: 8px 12px;
    bottom: 0;
    width: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.number{
    padding: 8px 24px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    align-self: center;
}
.prev, .next {
    cursor: pointer;
    padding: 16px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.slide{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slide img{
    width: 640px;
    height: 360px;
    object-fit: cover;
}
.dots{
    display: flex;
    margin-top: 10px;
    gap: 5px
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: var(--text-color);
    border: 1px solid var(--background-color);
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media (max-width: 600px){
    .flow{display: none;}
    .menu-mobile{
        font-size: 25px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        left: 0;
        width: 100vw;
        height: 20vh;
        top: 100px;
        background-color: var(--foreground-color);
        display: none;
        border-bottom: 1px solid var(--text-color);
    }
    .mobile{
        display: flex !important;
    }
    .home{
        flex-direction: column;
        width: 90vw;
        height: auto;
        margin-top: 30px;
    }
    .home-text .small{
        font-size: 22px;
    }
    .home-text .big{
        font-size: 45px;
    }
    .sobre{
        flex-direction: column;
        align-items: center;
    }
    .sobre-text{
        font-size: 18px;
        padding: 25px;
        width: 95%;
    }
    .sobre-text h1{
        font-size: 12px;
    }
    .skills-main-page{
        display: none;
    }
    .projetos{
        width: 95vw;
        align-items: center;
        font-size: 16px;
    }
    .projeto{
        width: 80vw;
    }
    .logo-titulo{
        flex-direction: column;
        justify-content: center;
        font-size: 42px;
        margin-left: 0vw;
        
    }
    .logo-titulo img{
        width: 40vw;
    }
    .logo-projeto{
        width: 100px;
    }
    .projeto-descricao{
        height: auto;
    }
    .skills-projeto{
        width: 60vw;
        border-radius: 10px;
    }
    .skill{
        margin-bottom: 25px;
    }
    .screenshot-container{
        max-width: 100vw;
    }
    .slide img{
        width: 95%;
        height: auto;
    }
}
